<div class="col-lg-6 offset-lg-3 content-box-blue" style="margin-top:50px !important; margin-bottom:15px !important;">	
	<h2 style="margin-bottom:20px;">{{title}}</h2>
	<div class="alert alert-success" *ngIf="success">
		Usted se ha registrado correctamente. <a [routerLink]="['/login']">Inicia sesión ahora</a>
	</div>
	<div class="alert alert-danger" *ngIf="error">
		{{message}}
	</div>
	<form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && onSubmit(registerForm)">
		<div class="col-lg-12">
		  <mat-form-field appearance="outline">
		    <mat-label>Nombre</mat-label>
		    <input matInput name="name" #name="ngModel" [(ngModel)]="user.name" placeholder="Ingrese su nombre completo" required minlength="3"/>
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint>Este campo es requerido</mat-hint>
		    <mat-error *ngIf="name.invalid">
			    <mat-error *ngIf="name.errors.required">
			      El nombre no puede quedar vacio
			    </mat-error>
			    <mat-error *ngIf="name.errors.minlength">
			      El nombre debe tener al menos 3 caracteres
			    </mat-error>
		    </mat-error>
		  </mat-form-field>
		</div>
		<div class="col-lg-12">
		  <mat-form-field appearance="outline">
		    <mat-label>Apellido</mat-label>
		    <input matInput name="surname" #surname="ngModel" [(ngModel)]="user.surname" placeholder="Ingrese su apellido" required minlength="3"/>
		    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
		    <mat-hint>Este campo es requerido</mat-hint>
		    <mat-error *ngIf="surname.invalid">
			    <mat-error *ngIf="surname.errors.required">
			      El apellido no puede quedar vacio
			    </mat-error>
			    <mat-error *ngIf="surname.errors.minlength">
			      El apellido debe tener al menos 3 caracteres
			    </mat-error>
		    </mat-error>
		  </mat-form-field>
		</div>	
		<div class="col-lg-12">
		  <mat-form-field appearance="outline">
		  	<mat-label>Email</mat-label>
		    <input matInput name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" required email/>
		    <mat-icon matSuffix>email</mat-icon>
		    <mat-hint>El correo es requerido y debe tener un formato correcto</mat-hint>
		    <mat-error *ngIf="email.invalid">
			    <mat-error *ngIf="email.errors.required">
			      El correo no puede quedar vacio
			    </mat-error>
			    <mat-error *ngIf="email.errors.email">
			      Este correo no es valido
			    </mat-error>
		    </mat-error>
		  </mat-form-field>
		</div>
		<div class="col-lg-12">
		  <mat-form-field appearance="outline">
		  	<mat-label>Password</mat-label>
		    <input matInput placeholder="Ingrese su contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" required minlength="8"/>
		    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
		    <mat-hint>Debe contener al menos 8 caracteres</mat-hint>
		    <mat-error *ngIf="password.invalid">
			    <mat-error *ngIf="password.errors.required">
			      La contraseña no puede quedar vacio
			    </mat-error>
			    <mat-error *ngIf="password.errors.minlength">
			      La contraseña debe tener al menos 8 caracteres
			    </mat-error>
		    </mat-error>
		  </mat-form-field>
		</div>
		<div class="col-lg-12" style="text-align:center">
			<input type="submit" value="Registrar" class="btn btn-success" [disabled]="!registerForm.form.valid">&nbsp;&nbsp;
			<a [routerLink]="['/home']"><button class="btn btn-danger">Cancelar</button></a>	
		</div>
	</form>
</div>	
